.border-custom{
	position: relative;
	text-transform: uppercase;
	color: #1670f0;
	overflow: hidden;
} 

@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}

	100%{
		transform: translateX(100%);
	}
}

@keyframes animate4{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-100%);
	}
}

.gradient {
    transform: translate(-4px, -4px); /*Now we use a negative translation to center this element in terms of the card. We use half of the extra 8px we gave it for width and height.*/
    background: linear-gradient(60deg, #d8ffe1, #5f86f2, #24a148, #5FF2CD, #5f94f2, #f2cb5f) 0 50%; /*You can use a gradient of your choosing. I generated this one online.*/
    background-size: 300% 300%; /*Setting the background size to a large number since we will be animating the background position via keyframes.*/
    animation:  gradient-animation 2.5s alternate infinite; /*Applying the keyframe animation.*/
    border-radius: 8px; /*Rounds the corners a little.*/
}

@keyframes gradient-animation {
    50%{
        background-position: 100% 50%;
    }
}