.App {
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

.modalTitle {
  text-align: center;
}

.btn {
  background-color: #af52bf;
  color:#fff;
  margin-top: 10px;
  padding:10px;
  border-radius: 10px;
  border:none;
  width:100px;
  font-size: 1.1rem;
  transition: background-color 100ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #6d1b7b;
}

.date-duration {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  text-align: center;
}

.modal-date-duration {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}